* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #666777;
}

button {
    font-size: 1rem;
    padding: .7em;
}

span {
    font-size: 2rem;
    color: darkkhaki;
    
}